<div class="center">

  <div class="row">
    <h1>You support: <%= @guest.club.name %></h1><div class="span12">

<div class="span12">
<div class="club">
<button class="btn btn-info"> <%= @goalkeeper.name %></button>
</div>
</div>

<div class="span2">
<div class="club">
<button class="btn btn-info"> <%= @defender1.name %></button>
</div>
</div>
<div class="span2 offset1">
<div class="club">
<button class="btn btn-info"> <%= @defender2.name %></button>
</div>
</div>
<div class="span2 offset1">
<div class="club">
<button class="btn btn-info"> <%= @defender3.name %></button>
</div>
</div>
<div class="span2">
<div class="club">
<button class="btn btn-info"> <%= @defender4.name %></button>
</div>
</div>
<div class="span2">
<div class="club">
<button class="btn btn-info"> <%= @midfielder1.name %></button>
</div>
</div>
<div class="span2 offset1">
<div class="club">
<button class="btn btn-info"> <%= @midfielder2.name %></button>
</div>
</div>
<div class="span2 offset1">
<div class="club">
<button class="btn btn-info"> <%= @midfielder3.name %></button>
</div>
</div>
<div class="span2">
<div class="club">
<button class="btn btn-info"> <%= @midfielder4.name %></button>
</div>
</div>
<div class="span4 offset1">
<div class="club">
<button class="btn btn-info"> <%= @forward1.name %></button>
</div>
</div>
<div class="span4">
<div class="club">
<button class="btn btn-info"> <%= @forward2.name %></button>
</div>
</div>


<div class="span5">
<div class="club"></div>
<h1>Most Voted Players</h1>
<table class="table table-bordered">
<thead>
<tr>
<th>Player</th>
<th>Club</th>
<th>Votes</th>
</tr>
	<% @all_players.first(10).each do |p| %>
<tbody>
<td><%= p.name %></td><td><%= p.club.name %></td><td><%= p.votes %></td>
</tbody>
<% end %>
</table>


</div>
<div class="span5 offset1">
<div class="club"></div>
<h1>Most Supported Club</h1>
<table class="table table-bordered">
<thead>
<tr>
<th>Club</th>
<th>Votes</th>
</tr>
	<% @final_clubs.first(10).each do |club| %>
<tbody>
<td><%= club.name %></td><td><%= club.guests.count %></td>
</tbody>
<% end %>
</table>

</div>

</div>
</div>
<div class"span12">
<h1> <%= link_to "Start again", root_path, class: 'btn btn-primary' %></h1>
</div>
</div>